Source: metalink-checker
Section: web
Priority: extra
Maintainer: Neil McNab <webmaster@nabber.org>
Build-Depends: debhelper (>= 5)
Standards-Version: 3.7.2

Package: metalink-checker
Architecture: any
Depends: python (>=2.5)
Description: Check and download metalink files.
 A Python script to check metalink files and complete a basic download.
