body {
	font-family: 'Bitstream Vera Sans', Verdana, sans-serif;
	margin: 0.5em 2em 0 2em;
}
a {
  color: blue;
	text-decoration: none;
}
a:hover {
	color: blue;
	text-decoration: underline;
}

.center {
	text-align: center;
}
.clickable {
  color: blue;
  cursor: pointer;
}
.clickable:hover {
	color: blue;
	text-decoration: underline;
}
img {
	border: none;
}
.warning {
  color: red;
  border: 1px solid red;
  background-color: lightred;
}

/* Colours */
.gray {	color: gray;}
.gray > a { color: #3366cc;}
.bggray {	background-color: gray;}
.bgsilver {	background-color: silver;}
.silver {	color: silver;}
.yellow {	color: yellow;}
.blue {	color: #3366cc;}
.bgblue { background-color: #e5ecf9; }
.red { color: red;}
.green { color: green;}
.bggreen { background-color: #ecf9e5; }


