<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html>
<head>
  <meta content="text/html; charset=UTF-8" http-equiv="content-type">

	<meta name="language" content="en" >
	<meta name="lang" content="en" >
	<link rel="icon" type="image/png" href="/var/img/metalink_16x16.png" >

  <title>{% block title %}Metalink validator{% endblock %}</title>
  <link href="/var/base.css" rel="stylesheet" type="text/css" media="screen">
</head>
<body>
  <div class="warning padded center">
  This page is currently under construction by the <a href="http://sourceforge.net/apps/trac/metalinks/">Metalinks project</a>.
  </div>
{% block body %}Internal error, sorry you have to see this. Please visit <a href="http://metalinkvalidator.appspot.com/">http://metalinkvalidator.appspot.com/</a> or try again later.{% endblock %}
</body>
</html>
